.fifoqueue__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.actionitem {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 42px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.arrow__div {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow__icon__down {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.arrow__icon__down:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.arrow__icon__up {
  transform: rotate(180deg);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.arrow__icon__up:hover {
  transform: scale(1.1) rotate(180deg);
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .fifoqueue {
    width: 100%;
  }
}
